.footer {
  border-top: 1px solid green;
  height: 80px;
  padding: 0px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy {
    font-size: 14px;
    color: rgb(18, 201, 161);
  }
  &__rrss {
    &--title {
      font-size: 14px;
      font-weight: normal;
      color: rgb(18, 201, 161);
    }
    &--link {
      color: rgb(18, 201, 161);
      & .icon {
        font-size: 20px;
        margin-right: 5px;
        margin-top: 5px;
        &:hover {
          color: green;
        }
      }
    }
  }
}
